In [30]:
import os
import numpy as np
import pandas as pd
import tensorflow as tf
import math
from IPython.core.magic import register_line_magic
from IPython.display import Javascript

Load Dataset

In [31]:
file_path = '/content/Busaha_Dataset.csv'
try:
  df = pd.read_csv(file_path)
  print("File Loaded!")
except:
  !gdown --id 1n3pwrW7E7Em-9F19BPQ6siZ4CuRsKS82
  try:
    df = pd.read_csv(file_path)
    print("File Loaded!")
  except:
    print("Something's wrong! check your path!!!")

File Loaded!

Checking Dataset

In [32]:
df.head()

,Unnamed: 0,jenis_usaha,Modal,modal_minimum,modal_maximum,tingkat_persaingan,tingkat_persaingan_idx,jumlah_pegawai,pegawai_minimum,omset,...,sosial_media,sosial_media_idx,barang_toserba,toko_toserba,toko_toserba_idx,tipe_toko,tipe_toko_idx,usaha_lain,tipe_usaha_lain,tipe_usaha_lain_idx
0,0,Transportasi,> 25jt,25000000,100000000,Sedang,1,2-4 orang,2,> 50 Juta,...,no_info,0,no_info,no_info,0,no_info,0,jasa sewa kendaraan,EX,1
1,1,Perternakan,10 - 25jt,10000000,25000000,Sedang,1,1 orang (Anda sendiri),1,10-50 Juta,...,no_info,0,no_info,no_info,0,no_info,0,no_info,no_info,0
2,2,Toserba/Toko Kelontong,1jt - 10 jt,1000000,10000000,Sedang,1,1 orang (Anda sendiri),1,< 10 Juta,...,no_info,0,Sembako,TRUE,1,Ruko,1,no_info,no_info,0
3,3,Kuliner,1jt - 10 jt,1000000,10000000,Sedang,1,1 orang (Anda sendiri),1,< 10 Juta,...,no_info,0,no_info,no_info,0,no_info,0,no_info,no_info,0
4,4,Dropshipper,1jt - 10 jt,1000000,10000000,Rendah,0,1 orang (Anda sendiri),1,< 10 Juta,...,WA,1,no_info,no_info,0,no_info,0,no_info,no_info,0

The dataset doesn't look very good to be a model, so it needs to be preprocessed before being used as a model

In [33]:
# Deleting unused row
delrow = ["Transportasi", "Toko Buah", "Penggilingan", "Alat Kecantikan", "Koleksi",
          "Alat kesehatan", "Perseroan Komanditer", "Jasa Isi Ulang Air Minum", "Jasa Mengajar", "Fotocopy"
          ]
for row in delrow:
  df.drop(df[df['jenis_usaha'] == row].index, inplace = True)

In [34]:
# Deleting unused column
try:
  df = df.drop(columns=['Unnamed: 0','Modal','tingkat_persaingan','jumlah_pegawai','omset',
                      'target_pasar','lokasi','hewan_ternak','hewan_ternak_sub','lokasi_geografis',
                      'mengerti_hewan','luas_lahan','usaha_kuliner','tipe_usaha_kuliner','kemampuan_masak',
                      'barang_dropship','penyimpanan_barang','biaya_internet','sosial_media','barang_toserba',
                      'toko_toserba','tipe_toko','usaha_lain','tipe_usaha_lain', 'modal_minimum', 'omset_minimum',
                      'hewan_ternak_idx', 'lokasi_geografis_idx', 'tipe_usaha_kuliner_idx'])
  print("Columns Dropped!")
except:
  print("Columns Already Dropped!")

Columns Dropped!

In [35]:
df.head()

,jenis_usaha,modal_maximum,tingkat_persaingan_idx,pegawai_minimum,tp_b,tp_m,tp_a,lokasi_idx,mengerti_hewan_idx,lahan_minimum,kemampuan_masak_idx,penyimpanan_barang_idx,internet_minimum,sosial_media_idx,toko_toserba_idx,tipe_toko_idx,tipe_usaha_lain_idx
1,Perternakan,25000000,1,1,1,1,1,1,1,1000,0,0,0,0,0,0,0
2,Toserba/Toko Kelontong,10000000,1,1,1,1,0,1,0,0,0,0,0,0,1,1,0
3,Kuliner,10000000,1,1,0,1,0,1,0,0,1,0,0,0,0,0,0
4,Dropshipper,10000000,0,1,1,0,0,0,0,0,0,1,100000,1,0,0,0
5,Dropshipper,10000000,2,1,1,1,0,0,0,0,0,1,300000,1,0,0,0

Indexing Label

In [36]:
label = "jenis_usaha"
classes = [0]

In [37]:
if type(classes[0]) is int:
  classes = df[label].unique().tolist()
  df[label] = df[label].map(classes.index)
  print(f"Label classes: {classes}")
else:
  print("Label classes Already indexed!")
  print(f"Label classes: {classes}")

Label classes: ['Perternakan', 'Toserba/Toko Kelontong', 'Kuliner', 'Dropshipper', 'Barang Digital', 'Elektronik', 'Pakaian', 'Kosmetik']

In [39]:
df.head()

,jenis_usaha,modal_maximum,tingkat_persaingan_idx,pegawai_minimum,tp_b,tp_m,tp_a,lokasi_idx,mengerti_hewan_idx,lahan_minimum,kemampuan_masak_idx,penyimpanan_barang_idx,internet_minimum,sosial_media_idx,toko_toserba_idx,tipe_toko_idx,tipe_usaha_lain_idx
1,0,25000000,1,1,1,1,1,1,1,1000,0,0,0,0,0,0,0
2,1,10000000,1,1,1,1,0,1,0,0,0,0,0,0,1,1,0
3,2,10000000,1,1,0,1,0,1,0,0,1,0,0,0,0,0,0
4,3,10000000,0,1,1,0,0,0,0,0,0,1,100000,1,0,0,0
5,3,10000000,2,1,1,1,0,0,0,0,0,1,300000,1,0,0,0

In [41]:
# # Randomize data
# random = df.sample(frac=1, random_state=30)
# # separating labels and features
# X = random.drop("jenis_usaha", axis=1).values
# y = random.jenis_usaha.values

In [42]:
# separating labels and features without randomize
X = df.drop("jenis_usaha", axis=1).values
y = df.jenis_usaha.values

In [43]:
# normalization
from sklearn.preprocessing import normalize
X_normalized = normalize(X, axis = 0, norm='l2')

In [44]:
# splitting data
total_length=len(df)
train_length=int(0.7*total_length)
test_length=int(0.3*total_length)

X_train=X_normalized[:train_length]
X_test=X_normalized[train_length:]
y_train=y[:train_length]
y_test=y[train_length:]

print("Length of train set x:",X_train.shape[0],"y:",y_train.shape[0])
print("Length of test set x:",X_test.shape[0],"y:",y_test.shape[0])

Length of train set x: 86 y: 86
Length of test set x: 37 y: 37

In [45]:
from keras.utils import np_utils
y_train=np_utils.to_categorical(y_train,num_classes=len(classes))
y_test=np_utils.to_categorical(y_test,num_classes=len(classes))
print("Shape of y_train",y_train.shape)
print("Shape of y_test",y_test.shape)

Shape of y_train (86, 8)
Shape of y_test (37, 8)

In [46]:
from keras.models import Sequential 
from keras.layers import Dense,Activation,Dropout 

shape = X_train.shape[1]

model=Sequential()
model.add(Dense(128,input_dim=X_train.shape[1],activation='relu'))
model.add(Dense(64,activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(len(classes),activation='softmax'))
model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

In [47]:
class cb(tf.keras.callbacks.Callback): 
  def on_epoch_end(self, epoch, logs={}):
    if(logs.get('accuracy') > 0.90 and logs.get('val_loss') < 0.4 and logs.get('loss') < 0.4 and logs.get('val_accuracy') > 0.80):
      self.model.stop_training = True

callbacks = cb()

In [48]:
model.fit(X_train,y_train,validation_data=(X_test,y_test),batch_size=20,epochs=500,verbose=1, callbacks=[callbacks])

Epoch 1/500
5/5 [==============================] - 1s 86ms/step - loss: 2.0633 - accuracy: 0.2442 - val_loss: 2.0285 - val_accuracy: 0.5676
Epoch 2/500
5/5 [==============================] - 0s 8ms/step - loss: 2.0286 - accuracy: 0.4070 - val_loss: 1.9957 - val_accuracy: 0.1622
Epoch 3/500
5/5 [==============================] - 0s 8ms/step - loss: 1.9899 - accuracy: 0.3953 - val_loss: 1.9535 - val_accuracy: 0.1892
Epoch 4/500
5/5 [==============================] - 0s 7ms/step - loss: 1.9519 - accuracy: 0.4070 - val_loss: 1.9108 - val_accuracy: 0.1351
Epoch 5/500
5/5 [==============================] - 0s 7ms/step - loss: 1.9110 - accuracy: 0.3837 - val_loss: 1.8596 - val_accuracy: 0.1351
Epoch 6/500
5/5 [==============================] - 0s 7ms/step - loss: 1.8638 - accuracy: 0.3953 - val_loss: 1.8047 - val_accuracy: 0.1622
Epoch 7/500
5/5 [==============================] - 0s 7ms/step - loss: 1.8174 - accuracy: 0.4186 - val_loss: 1.7482 - val_accuracy: 0.1622
Epoch 8/500
5/5 [==============================] - 0s 8ms/step - loss: 1.7549 - accuracy: 0.3953 - val_loss: 1.6811 - val_accuracy: 0.1622
Epoch 9/500
5/5 [==============================] - 0s 7ms/step - loss: 1.6880 - accuracy: 0.3953 - val_loss: 1.6204 - val_accuracy: 0.1622
Epoch 10/500
5/5 [==============================] - 0s 12ms/step - loss: 1.6320 - accuracy: 0.3953 - val_loss: 1.5531 - val_accuracy: 0.1622
Epoch 11/500
5/5 [==============================] - 0s 9ms/step - loss: 1.5813 - accuracy: 0.3837 - val_loss: 1.4701 - val_accuracy: 0.1892
Epoch 12/500
5/5 [==============================] - 0s 7ms/step - loss: 1.5003 - accuracy: 0.4419 - val_loss: 1.3843 - val_accuracy: 0.3784
Epoch 13/500
5/5 [==============================] - 0s 10ms/step - loss: 1.4579 - accuracy: 0.4535 - val_loss: 1.2788 - val_accuracy: 0.7838
Epoch 14/500
5/5 [==============================] - 0s 8ms/step - loss: 1.3840 - accuracy: 0.5814 - val_loss: 1.1943 - val_accuracy: 0.8108
Epoch 15/500
5/5 [==============================] - 0s 9ms/step - loss: 1.3024 - accuracy: 0.5814 - val_loss: 1.1134 - val_accuracy: 1.0000
Epoch 16/500
5/5 [==============================] - 0s 8ms/step - loss: 1.2549 - accuracy: 0.6512 - val_loss: 1.0148 - val_accuracy: 1.0000
Epoch 17/500
5/5 [==============================] - 0s 8ms/step - loss: 1.2075 - accuracy: 0.7326 - val_loss: 0.9290 - val_accuracy: 1.0000
Epoch 18/500
5/5 [==============================] - 0s 8ms/step - loss: 1.1336 - accuracy: 0.7558 - val_loss: 0.8361 - val_accuracy: 1.0000
Epoch 19/500
5/5 [==============================] - 0s 8ms/step - loss: 1.0979 - accuracy: 0.7093 - val_loss: 0.7596 - val_accuracy: 1.0000
Epoch 20/500
5/5 [==============================] - 0s 8ms/step - loss: 1.0227 - accuracy: 0.7442 - val_loss: 0.6801 - val_accuracy: 1.0000
Epoch 21/500
5/5 [==============================] - 0s 9ms/step - loss: 1.0039 - accuracy: 0.7442 - val_loss: 0.6196 - val_accuracy: 1.0000
Epoch 22/500
5/5 [==============================] - 0s 8ms/step - loss: 0.9705 - accuracy: 0.7558 - val_loss: 0.5659 - val_accuracy: 1.0000
Epoch 23/500
5/5 [==============================] - 0s 8ms/step - loss: 0.9413 - accuracy: 0.7558 - val_loss: 0.5143 - val_accuracy: 1.0000
Epoch 24/500
5/5 [==============================] - 0s 8ms/step - loss: 0.8918 - accuracy: 0.7442 - val_loss: 0.4695 - val_accuracy: 1.0000
Epoch 25/500
5/5 [==============================] - 0s 8ms/step - loss: 0.8416 - accuracy: 0.7907 - val_loss: 0.4190 - val_accuracy: 1.0000
Epoch 26/500
5/5 [==============================] - 0s 8ms/step - loss: 0.8154 - accuracy: 0.7674 - val_loss: 0.3719 - val_accuracy: 1.0000
Epoch 27/500
5/5 [==============================] - 0s 7ms/step - loss: 0.8151 - accuracy: 0.7674 - val_loss: 0.3353 - val_accuracy: 1.0000
Epoch 28/500
5/5 [==============================] - 0s 8ms/step - loss: 0.7990 - accuracy: 0.7558 - val_loss: 0.2932 - val_accuracy: 1.0000
Epoch 29/500
5/5 [==============================] - 0s 9ms/step - loss: 0.7384 - accuracy: 0.8140 - val_loss: 0.2594 - val_accuracy: 1.0000
Epoch 30/500
5/5 [==============================] - 0s 8ms/step - loss: 0.7416 - accuracy: 0.7907 - val_loss: 0.2203 - val_accuracy: 1.0000
Epoch 31/500
5/5 [==============================] - 0s 8ms/step - loss: 0.7040 - accuracy: 0.8256 - val_loss: 0.1909 - val_accuracy: 1.0000
Epoch 32/500
5/5 [==============================] - 0s 8ms/step - loss: 0.7117 - accuracy: 0.7791 - val_loss: 0.1777 - val_accuracy: 1.0000
Epoch 33/500
5/5 [==============================] - 0s 8ms/step - loss: 0.6739 - accuracy: 0.7907 - val_loss: 0.1643 - val_accuracy: 1.0000
Epoch 34/500
5/5 [==============================] - 0s 8ms/step - loss: 0.6815 - accuracy: 0.7674 - val_loss: 0.1555 - val_accuracy: 1.0000
Epoch 35/500
5/5 [==============================] - 0s 8ms/step - loss: 0.6587 - accuracy: 0.8256 - val_loss: 0.1411 - val_accuracy: 1.0000
Epoch 36/500
5/5 [==============================] - 0s 8ms/step - loss: 0.6277 - accuracy: 0.7907 - val_loss: 0.1265 - val_accuracy: 1.0000
Epoch 37/500
5/5 [==============================] - 0s 8ms/step - loss: 0.6343 - accuracy: 0.7791 - val_loss: 0.1089 - val_accuracy: 1.0000
Epoch 38/500
5/5 [==============================] - 0s 9ms/step - loss: 0.6120 - accuracy: 0.8372 - val_loss: 0.0977 - val_accuracy: 1.0000
Epoch 39/500
5/5 [==============================] - 0s 8ms/step - loss: 0.6075 - accuracy: 0.8023 - val_loss: 0.0949 - val_accuracy: 1.0000
Epoch 40/500
5/5 [==============================] - 0s 10ms/step - loss: 0.6072 - accuracy: 0.7907 - val_loss: 0.0922 - val_accuracy: 1.0000
Epoch 41/500
5/5 [==============================] - 0s 8ms/step - loss: 0.6040 - accuracy: 0.8372 - val_loss: 0.0870 - val_accuracy: 1.0000
Epoch 42/500
5/5 [==============================] - 0s 7ms/step - loss: 0.5583 - accuracy: 0.8140 - val_loss: 0.0807 - val_accuracy: 1.0000
Epoch 43/500
5/5 [==============================] - 0s 7ms/step - loss: 0.5807 - accuracy: 0.7907 - val_loss: 0.0704 - val_accuracy: 1.0000
Epoch 44/500
5/5 [==============================] - 0s 7ms/step - loss: 0.5620 - accuracy: 0.8488 - val_loss: 0.0594 - val_accuracy: 1.0000
Epoch 45/500
5/5 [==============================] - 0s 8ms/step - loss: 0.5584 - accuracy: 0.8023 - val_loss: 0.0561 - val_accuracy: 1.0000
Epoch 46/500
5/5 [==============================] - 0s 9ms/step - loss: 0.5693 - accuracy: 0.8023 - val_loss: 0.0551 - val_accuracy: 1.0000
Epoch 47/500
5/5 [==============================] - 0s 8ms/step - loss: 0.5622 - accuracy: 0.7907 - val_loss: 0.0567 - val_accuracy: 1.0000
Epoch 48/500
5/5 [==============================] - 0s 8ms/step - loss: 0.5550 - accuracy: 0.8140 - val_loss: 0.0560 - val_accuracy: 1.0000
Epoch 49/500
5/5 [==============================] - 0s 7ms/step - loss: 0.5265 - accuracy: 0.8372 - val_loss: 0.0508 - val_accuracy: 1.0000
Epoch 50/500
5/5 [==============================] - 0s 8ms/step - loss: 0.5420 - accuracy: 0.8256 - val_loss: 0.0456 - val_accuracy: 1.0000
Epoch 51/500
5/5 [==============================] - 0s 8ms/step - loss: 0.5385 - accuracy: 0.8372 - val_loss: 0.0408 - val_accuracy: 1.0000
Epoch 52/500
5/5 [==============================] - 0s 7ms/step - loss: 0.5497 - accuracy: 0.8023 - val_loss: 0.0386 - val_accuracy: 1.0000
Epoch 53/500
5/5 [==============================] - 0s 8ms/step - loss: 0.4931 - accuracy: 0.8256 - val_loss: 0.0371 - val_accuracy: 1.0000
Epoch 54/500
5/5 [==============================] - 0s 9ms/step - loss: 0.5286 - accuracy: 0.8140 - val_loss: 0.0362 - val_accuracy: 1.0000
Epoch 55/500
5/5 [==============================] - 0s 8ms/step - loss: 0.5125 - accuracy: 0.8256 - val_loss: 0.0321 - val_accuracy: 1.0000
Epoch 56/500
5/5 [==============================] - 0s 8ms/step - loss: 0.5608 - accuracy: 0.7791 - val_loss: 0.0300 - val_accuracy: 1.0000
Epoch 57/500
5/5 [==============================] - 0s 7ms/step - loss: 0.4683 - accuracy: 0.8256 - val_loss: 0.0300 - val_accuracy: 1.0000
Epoch 58/500
5/5 [==============================] - 0s 7ms/step - loss: 0.4993 - accuracy: 0.8256 - val_loss: 0.0289 - val_accuracy: 1.0000
Epoch 59/500
5/5 [==============================] - 0s 8ms/step - loss: 0.4843 - accuracy: 0.8372 - val_loss: 0.0277 - val_accuracy: 1.0000
Epoch 60/500
5/5 [==============================] - 0s 9ms/step - loss: 0.4957 - accuracy: 0.8372 - val_loss: 0.0260 - val_accuracy: 1.0000
Epoch 61/500
5/5 [==============================] - 0s 8ms/step - loss: 0.5008 - accuracy: 0.8023 - val_loss: 0.0252 - val_accuracy: 1.0000
Epoch 62/500
5/5 [==============================] - 0s 8ms/step - loss: 0.4759 - accuracy: 0.8372 - val_loss: 0.0228 - val_accuracy: 1.0000
Epoch 63/500
5/5 [==============================] - 0s 9ms/step - loss: 0.4741 - accuracy: 0.8372 - val_loss: 0.0212 - val_accuracy: 1.0000
Epoch 64/500
5/5 [==============================] - 0s 13ms/step - loss: 0.4962 - accuracy: 0.8256 - val_loss: 0.0216 - val_accuracy: 1.0000
Epoch 65/500
5/5 [==============================] - 0s 8ms/step - loss: 0.4693 - accuracy: 0.8372 - val_loss: 0.0213 - val_accuracy: 1.0000
Epoch 66/500
5/5 [==============================] - 0s 7ms/step - loss: 0.4702 - accuracy: 0.8372 - val_loss: 0.0204 - val_accuracy: 1.0000
Epoch 67/500
5/5 [==============================] - 0s 8ms/step - loss: 0.4871 - accuracy: 0.8140 - val_loss: 0.0208 - val_accuracy: 1.0000
Epoch 68/500
5/5 [==============================] - 0s 8ms/step - loss: 0.4652 - accuracy: 0.8372 - val_loss: 0.0184 - val_accuracy: 1.0000
Epoch 69/500
5/5 [==============================] - 0s 8ms/step - loss: 0.4399 - accuracy: 0.8140 - val_loss: 0.0164 - val_accuracy: 1.0000
Epoch 70/500
5/5 [==============================] - 0s 9ms/step - loss: 0.4189 - accuracy: 0.8488 - val_loss: 0.0155 - val_accuracy: 1.0000
Epoch 71/500
5/5 [==============================] - 0s 8ms/step - loss: 0.4451 - accuracy: 0.8256 - val_loss: 0.0148 - val_accuracy: 1.0000
Epoch 72/500
5/5 [==============================] - 0s 7ms/step - loss: 0.4543 - accuracy: 0.8023 - val_loss: 0.0147 - val_accuracy: 1.0000
Epoch 73/500
5/5 [==============================] - 0s 8ms/step - loss: 0.4482 - accuracy: 0.8140 - val_loss: 0.0157 - val_accuracy: 1.0000
Epoch 74/500
5/5 [==============================] - 0s 8ms/step - loss: 0.4469 - accuracy: 0.8488 - val_loss: 0.0154 - val_accuracy: 1.0000
Epoch 75/500
5/5 [==============================] - 0s 7ms/step - loss: 0.4333 - accuracy: 0.8256 - val_loss: 0.0146 - val_accuracy: 1.0000
Epoch 76/500
5/5 [==============================] - 0s 13ms/step - loss: 0.4369 - accuracy: 0.8372 - val_loss: 0.0136 - val_accuracy: 1.0000
Epoch 77/500
5/5 [==============================] - 0s 8ms/step - loss: 0.4397 - accuracy: 0.8256 - val_loss: 0.0130 - val_accuracy: 1.0000
Epoch 78/500
5/5 [==============================] - 0s 7ms/step - loss: 0.4871 - accuracy: 0.8256 - val_loss: 0.0120 - val_accuracy: 1.0000
Epoch 79/500
5/5 [==============================] - 0s 8ms/step - loss: 0.4131 - accuracy: 0.8605 - val_loss: 0.0118 - val_accuracy: 1.0000
Epoch 80/500
5/5 [==============================] - 0s 8ms/step - loss: 0.4509 - accuracy: 0.8372 - val_loss: 0.0116 - val_accuracy: 1.0000
Epoch 81/500
5/5 [==============================] - 0s 8ms/step - loss: 0.3854 - accuracy: 0.8721 - val_loss: 0.0117 - val_accuracy: 1.0000
Epoch 82/500
5/5 [==============================] - 0s 8ms/step - loss: 0.3986 - accuracy: 0.8372 - val_loss: 0.0117 - val_accuracy: 1.0000
Epoch 83/500
5/5 [==============================] - 0s 8ms/step - loss: 0.4217 - accuracy: 0.8837 - val_loss: 0.0112 - val_accuracy: 1.0000
Epoch 84/500
5/5 [==============================] - 0s 8ms/step - loss: 0.4366 - accuracy: 0.8256 - val_loss: 0.0106 - val_accuracy: 1.0000
Epoch 85/500
5/5 [==============================] - 0s 8ms/step - loss: 0.4404 - accuracy: 0.8372 - val_loss: 0.0098 - val_accuracy: 1.0000
Epoch 86/500
5/5 [==============================] - 0s 9ms/step - loss: 0.3990 - accuracy: 0.8488 - val_loss: 0.0093 - val_accuracy: 1.0000
Epoch 87/500
5/5 [==============================] - 0s 8ms/step - loss: 0.4254 - accuracy: 0.8605 - val_loss: 0.0090 - val_accuracy: 1.0000
Epoch 88/500
5/5 [==============================] - 0s 9ms/step - loss: 0.4061 - accuracy: 0.8488 - val_loss: 0.0087 - val_accuracy: 1.0000
Epoch 89/500
5/5 [==============================] - 0s 9ms/step - loss: 0.4230 - accuracy: 0.8256 - val_loss: 0.0086 - val_accuracy: 1.0000
Epoch 90/500
5/5 [==============================] - 0s 7ms/step - loss: 0.4362 - accuracy: 0.8488 - val_loss: 0.0083 - val_accuracy: 1.0000
Epoch 91/500
5/5 [==============================] - 0s 8ms/step - loss: 0.3973 - accuracy: 0.8605 - val_loss: 0.0078 - val_accuracy: 1.0000
Epoch 92/500
5/5 [==============================] - 0s 8ms/step - loss: 0.3902 - accuracy: 0.8488 - val_loss: 0.0078 - val_accuracy: 1.0000
Epoch 93/500
5/5 [==============================] - 0s 8ms/step - loss: 0.4072 - accuracy: 0.8023 - val_loss: 0.0072 - val_accuracy: 1.0000
Epoch 94/500
5/5 [==============================] - 0s 8ms/step - loss: 0.4055 - accuracy: 0.8140 - val_loss: 0.0069 - val_accuracy: 1.0000
Epoch 95/500
5/5 [==============================] - 0s 8ms/step - loss: 0.4130 - accuracy: 0.8372 - val_loss: 0.0065 - val_accuracy: 1.0000
Epoch 96/500
5/5 [==============================] - 0s 8ms/step - loss: 0.4106 - accuracy: 0.8256 - val_loss: 0.0057 - val_accuracy: 1.0000
Epoch 97/500
5/5 [==============================] - 0s 10ms/step - loss: 0.3645 - accuracy: 0.8605 - val_loss: 0.0056 - val_accuracy: 1.0000
Epoch 98/500
5/5 [==============================] - 0s 10ms/step - loss: 0.4216 - accuracy: 0.8488 - val_loss: 0.0059 - val_accuracy: 1.0000
Epoch 99/500
5/5 [==============================] - 0s 10ms/step - loss: 0.4072 - accuracy: 0.8256 - val_loss: 0.0060 - val_accuracy: 1.0000
Epoch 100/500
5/5 [==============================] - 0s 8ms/step - loss: 0.4047 - accuracy: 0.8256 - val_loss: 0.0060 - val_accuracy: 1.0000
Epoch 101/500
5/5 [==============================] - 0s 13ms/step - loss: 0.3977 - accuracy: 0.8953 - val_loss: 0.0055 - val_accuracy: 1.0000
Epoch 102/500
5/5 [==============================] - 0s 27ms/step - loss: 0.4277 - accuracy: 0.8372 - val_loss: 0.0054 - val_accuracy: 1.0000
Epoch 103/500
5/5 [==============================] - 0s 12ms/step - loss: 0.4082 - accuracy: 0.8140 - val_loss: 0.0058 - val_accuracy: 1.0000
Epoch 104/500
5/5 [==============================] - 0s 13ms/step - loss: 0.3695 - accuracy: 0.8953 - val_loss: 0.0059 - val_accuracy: 1.0000
Epoch 105/500
5/5 [==============================] - 0s 10ms/step - loss: 0.3871 - accuracy: 0.8837 - val_loss: 0.0060 - val_accuracy: 1.0000
Epoch 106/500
5/5 [==============================] - 0s 8ms/step - loss: 0.4254 - accuracy: 0.8140 - val_loss: 0.0056 - val_accuracy: 1.0000
Epoch 107/500
5/5 [==============================] - 0s 7ms/step - loss: 0.3869 - accuracy: 0.8372 - val_loss: 0.0056 - val_accuracy: 1.0000
Epoch 108/500
5/5 [==============================] - 0s 8ms/step - loss: 0.3811 - accuracy: 0.8837 - val_loss: 0.0053 - val_accuracy: 1.0000
Epoch 109/500
5/5 [==============================] - 0s 9ms/step - loss: 0.3800 - accuracy: 0.8721 - val_loss: 0.0049 - val_accuracy: 1.0000
Epoch 110/500
5/5 [==============================] - 0s 8ms/step - loss: 0.3740 - accuracy: 0.8488 - val_loss: 0.0046 - val_accuracy: 1.0000
Epoch 111/500
5/5 [==============================] - 0s 8ms/step - loss: 0.3540 - accuracy: 0.8488 - val_loss: 0.0044 - val_accuracy: 1.0000
Epoch 112/500
5/5 [==============================] - 0s 8ms/step - loss: 0.3782 - accuracy: 0.8605 - val_loss: 0.0043 - val_accuracy: 1.0000
Epoch 113/500
5/5 [==============================] - 0s 8ms/step - loss: 0.3774 - accuracy: 0.8721 - val_loss: 0.0042 - val_accuracy: 1.0000
Epoch 114/500
5/5 [==============================] - 0s 8ms/step - loss: 0.3409 - accuracy: 0.8837 - val_loss: 0.0042 - val_accuracy: 1.0000
Epoch 115/500
5/5 [==============================] - 0s 9ms/step - loss: 0.3911 - accuracy: 0.8721 - val_loss: 0.0043 - val_accuracy: 1.0000
Epoch 116/500
5/5 [==============================] - 0s 8ms/step - loss: 0.3783 - accuracy: 0.8605 - val_loss: 0.0044 - val_accuracy: 1.0000
Epoch 117/500
5/5 [==============================] - 0s 9ms/step - loss: 0.3438 - accuracy: 0.8953 - val_loss: 0.0041 - val_accuracy: 1.0000
Epoch 118/500
5/5 [==============================] - 0s 8ms/step - loss: 0.3663 - accuracy: 0.8721 - val_loss: 0.0038 - val_accuracy: 1.0000
Epoch 119/500
5/5 [==============================] - 0s 8ms/step - loss: 0.3773 - accuracy: 0.8837 - val_loss: 0.0038 - val_accuracy: 1.0000
Epoch 120/500
5/5 [==============================] - 0s 8ms/step - loss: 0.3460 - accuracy: 0.8605 - val_loss: 0.0038 - val_accuracy: 1.0000
Epoch 121/500
5/5 [==============================] - 0s 8ms/step - loss: 0.3444 - accuracy: 0.8837 - val_loss: 0.0037 - val_accuracy: 1.0000
Epoch 122/500
5/5 [==============================] - 0s 8ms/step - loss: 0.3763 - accuracy: 0.8953 - val_loss: 0.0036 - val_accuracy: 1.0000
Epoch 123/500
5/5 [==============================] - 0s 8ms/step - loss: 0.3554 - accuracy: 0.8837 - val_loss: 0.0033 - val_accuracy: 1.0000
Epoch 124/500
5/5 [==============================] - 0s 9ms/step - loss: 0.3477 - accuracy: 0.8837 - val_loss: 0.0031 - val_accuracy: 1.0000
Epoch 125/500
5/5 [==============================] - 0s 8ms/step - loss: 0.3542 - accuracy: 0.8837 - val_loss: 0.0030 - val_accuracy: 1.0000
Epoch 126/500
5/5 [==============================] - 0s 8ms/step - loss: 0.3455 - accuracy: 0.8837 - val_loss: 0.0031 - val_accuracy: 1.0000
Epoch 127/500
5/5 [==============================] - 0s 9ms/step - loss: 0.3528 - accuracy: 0.8721 - val_loss: 0.0032 - val_accuracy: 1.0000
Epoch 128/500
5/5 [==============================] - 0s 10ms/step - loss: 0.3608 - accuracy: 0.8837 - val_loss: 0.0033 - val_accuracy: 1.0000
Epoch 129/500
5/5 [==============================] - 0s 8ms/step - loss: 0.3808 - accuracy: 0.8256 - val_loss: 0.0032 - val_accuracy: 1.0000
Epoch 130/500
5/5 [==============================] - 0s 8ms/step - loss: 0.3072 - accuracy: 0.9070 - val_loss: 0.0033 - val_accuracy: 1.0000

In [49]:
peternak = [25000000, 1, 1, 1, 1, 1, 1, 1, 1000, 0, 0, 0, 0, 0, 0, 0]
toserba = [10000000, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0]
kuliner = [25000000, 1, 2, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0]

In [50]:
fitur_normalized = normalize([peternak], axis = 0)
prediction = model.predict([fitur_normalized])

clas = np.argmax(prediction, axis = 1)
clas1 = np.argsort(clas)
print(clas)
indextion = np.argsort((-prediction), axis = 1)[0,:3]
top1, top2, top3 = indextion
indextion0 = np.argsort((-prediction), axis = 1)[0]
indextion1 = np.argmax(prediction, axis = 1)
indextion2 = np.argmin(prediction)
print(f"top 3 prediksi adalah : {indextion}")
print(f"keseluruhan prediksi adalah : {indextion0}")
print(f"prediksi paling mendekati adalah : {indextion1}")
print(f"prediksi paling tidak mendekati adalah : {indextion2}")
print(f"label top 3 prediksi adalah : {classes[top1]}, {classes[top2]}, {classes[top3]}")

[0]
top 3 prediksi adalah : [0 5 1]
keseluruhan prediksi adalah : [0 5 1 6 4 7 2 3]
prediksi paling mendekati adalah : [0]
prediksi paling tidak mendekati adalah : 3
label top 3 prediksi adalah : Perternakan, Elektronik, Toserba/Toko Kelontong

In [51]:
fitur_normalized = normalize([toserba], axis = 0)
prediction = model.predict([fitur_normalized])

clas = np.argmax(prediction, axis = 1)
clas1 = np.argsort(clas)
print(clas)
indextion = np.argsort((-prediction), axis = 1)[0,:3]
top1, top2, top3 = indextion
indextion0 = np.argsort((-prediction), axis = 1)[0]
indextion1 = np.argmax(prediction, axis = 1)
indextion2 = np.argmin(prediction)
print(f"top 3 prediksi adalah : {indextion}")
print(f"keseluruhan prediksi adalah : {indextion0}")
print(f"prediksi paling mendekati adalah : {indextion1}")
print(f"prediksi paling tidak mendekati adalah : {indextion2}")
print(f"label top 3 prediksi adalah : {classes[top1]}, {classes[top2]}, {classes[top3]}")

[1]
top 3 prediksi adalah : [1 6 0]
keseluruhan prediksi adalah : [1 6 0 2 7 5 3 4]
prediksi paling mendekati adalah : [1]
prediksi paling tidak mendekati adalah : 4
label top 3 prediksi adalah : Toserba/Toko Kelontong, Pakaian, Perternakan

In [52]:
fitur_normalized = normalize([kuliner], axis = 0)
prediction = model.predict([fitur_normalized])

clas = np.argmax(prediction, axis = 1)
clas1 = np.argsort(clas)
print(clas)
indextion = np.argsort((-prediction), axis = 1)[0,:3]
top1, top2, top3 = indextion
indextion0 = np.argsort((-prediction), axis = 1)[0]
indextion1 = np.argmax(prediction, axis = 1)
indextion2 = np.argmin(prediction)
print(f"top 3 prediksi adalah : {indextion}")
print(f"keseluruhan prediksi adalah : {indextion0}")
print(f"prediksi paling mendekati adalah : {indextion1}")
print(f"prediksi paling tidak mendekati adalah : {indextion2}")
print(f"label top 3 prediksi adalah : {classes[top1]}, {classes[top2]}, {classes[top3]}")

[2]
top 3 prediksi adalah : [2 1 6]
keseluruhan prediksi adalah : [2 1 6 7 0 5 3 4]
prediksi paling mendekati adalah : [2]
prediksi paling tidak mendekati adalah : 4
label top 3 prediksi adalah : Kuliner, Toserba/Toko Kelontong, Pakaian

In [53]:
model.save("/content/model.h5")

In [54]:
new_model = tf.keras.models.load_model('/content/model.h5')

In [55]:
fitur_normalized = normalize([kuliner], axis = 0)
pred = new_model.predict([fitur_normalized])
np.argmax(pred, axis=1)

array([2])

In [56]:
fitur_normalized = normalize([peternak], axis = 0)
pred = new_model.predict([fitur_normalized])
np.argmax(pred, axis=1)

array([0])

In [57]:
new_model.evaluate(X_test, y_test)

2/2 [==============================] - 0s 7ms/step - loss: 0.0033 - accuracy: 1.0000

[0.003302990924566984, 1.0]

In [58]:
# Convert the model.
converter = tf.lite.TFLiteConverter.from_keras_model(model)
tflite_model = converter.convert()

# Save the model.
with open('model_busaha.tflite', 'wb') as f:
  f.write(tflite_model)

INFO:tensorflow:Assets written to: /tmp/tmppamdxvhe/assets

INFO:tensorflow:Assets written to: /tmp/tmppamdxvhe/assets
WARNING:absl:Buffer deduplication procedure will be skipped when flatbuffer library is not properly loaded